.BlogRead-section {
    margin: 40px 50px;
}
.BlogRead .BlogRead-section img {
    width: 100%;
    height: 300px !important;
    object-fit: contain;
}
.BlogRead .BlogRead-section #title {
    text-align: justify !important;
    padding: 10px;
}
.BlogRead .BlogRead-section #subCard {
    width: 100%;
}
.BlogRead .BlogRead-section #date {
    text-align: right;
    margin-right: 0;
    margin-left: auto;
}
.BlogRead .BlogRead-section #author,
.BlogRead .BlogRead-section #date {
    padding: 5px 10px;
    margin-bottom: 5px;
}
.BlogRead .BlogRead-section #description {
    margin-top: 20px;
    line-height: 25px;
    letter-spacing: 0.75px;
    word-spacing: 3px;
}
