.Cart-Container {
    width: 100%;
    display: inline-flex;
    text-align: center;
    margin-top: 10px;
}
.Cart-Container .Left {
    width: 66%;
}
.Cart-Container .Right {
    width: 35%;
}
.Cart-Container .Left #title,
.Cart-Container .Right #title {
    font-size: 25px;
    font-weight: 600;
    margin: 5px;
}
.Cart-Container .Left #subtitle,
.Cart-Container .Right #subtitle {
    font-size: 15px;
    margin: 5px;
}
.Cart-Container .Left table {
    text-align: left;
}
.Cart-Container .Right table {
    width: 100%;
}
.Cart-Container .Left td {
    padding: 10px 0px;
}
.Cart-Container .Right td,
.Cart-Container .Right th {
    padding: 3px 0px;
}
.Cart-Container .Right td.itemname {
    text-align: left;
    padding-left: 10px;
}
