.ProductCard {
    height: 300px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.15);
    display: inline-block;
    cursor: default;
}
.ProductCard #Image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.ProductCard .content {
    position: relative;
    text-align: justify;
    padding: 2px 10px;
}
.ProductCard .content #Name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ProductCard .content #Price {
    font-size: 25px;
}
.ProductCard .content #Price #discount {
    font-size: 10px;
    background-color: var(--error);
    color: #fff;
    padding: 1px 10px;
}
.ProductCard .content button.like,
.ProductCard .content button.quickCart,
.ProductCard .content #Rating {
    position: absolute;
    bottom: -25px;
}
.ProductCard .content button.like,
.ProductCard .content button.quickCart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.ProductCard .content button.like {
    background-color: var(--success);
    right: 10px;
}
.ProductCard .content button.quickCart {
    background-color: var(--primary);
    right: 50px;
}
.ProductCard .content #Rating {
    left: 10px;
}
.ProductCard .content button.like #icon,
.ProductCard .content button.quickCart #icon {
    margin-top: 6px;
    width: 12px;
    height: 12px;
    color: #fff;
}
