.Product-section {
    width: 90%;
    margin: 20px auto;
}
.Product-section img {
    width: 100%;
    object-fit: contain;
    height: 300px;
}
.Product-section table {
    width: 100%;
    opacity: 0.8;
    margin: 20px 0px;
}
.Product-section table tr td {
    width: 80%;
}
.Product-section table tr th {
    width: 20%;
}
.Product-section table tr td,
.Product-section table tr th {
    text-align: left;
    padding: 5px;
    vertical-align: top !important;
}
.ReviewCard {
    background-color: rgb(245, 245, 245);
    width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0px;
}
.ReviewCard #title {
    padding-bottom: 5px;
}
