.ProductCard {
    width: 300px;
    height: 400px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.15);
    display: inline-block;
    text-align: center;
    overflow: hidden;
}
.ProductCard #Image {
    height: 250px;
    object-fit: cover;
}
.ProductCard #Name {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ProductCard #Price,
.ProductCard #Rating {
    font-size: 15px;
    border: 2px solid;
    width: fit-content;
}
.ProductCard #Name,
.ProductCard #Price,
.ProductCard #Rating {
    padding: 4px 20px;
    font-weight: 600;
    text-align: left !important;
}
.ProductCard #ButtonGrp a {
    display: block;
    padding: 4px 5px;
}
.ProductCard #ButtonGrp a,
.ProductCard #Price,
.ProductCard #Rating {
    transition-duration: 1s;
    border-radius: 50px;
    margin: 2px 10px;
}
.ProductCard #Price {
    padding-top: 5px;
}
