.PayIndex .sec1,
.PayIndex .sec2,
.PayIndex .sec3 {
    padding: 10vw 5vw;
    color: var(--white);
}
.PayIndex .sec1,
.PayIndex .sec3 {
    background-color: var(--error);
}
.PayIndex .sec2 {
    background-color: var(--black);
}
.PayIndex .sec4 {
    padding: 10vw 5vw;
}
.PayIndex .title {
    font-size: 10vw;
}
