.Order .OrderContainer {
    width: 100%;
    margin: 10px 15px;
    display: inline-flex;
    flex-wrap: wrap;
}
/* For Mobile View */
@media only screen and (max-width: 600px) {
    .Order .OrderContainer {
        margin: 5px;
    }
}
