* {
    margin: 0;
    padding: 0;
    outline: none;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
    font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
        Geneva, Verdana, sans-serif;
}
html {
    width: 100%;
    overflow-x: hidden;
}
a,
button {
    text-decoration: none;
    color: inherit;
}
.section {
    margin: 10px 30px;
    padding: 10px 20px;
}
.Inline {
    display: inline-flex;
}
/* Text Align */
.Center,
.AlignCenter {
    text-align: center;
}
.AlignLeft {
    text-align: left;
}
.AlignRight {
    text-align: right;
}
.AlignJustify {
    text-align: justify;
}
/** Button */
.Button,
#Button {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 2px;
    font-weight: 600;
}
.IndexButton {
    width: 20vw;
    padding: 0.5vw 1vw;
    border: none;
}
.CategoryContainer {
    padding: 1vw;
}
.CategoryContainer .category,
.FilterHeading .category {
    padding: 5px;
    width: fit-content;
    display: inline-flex;
    cursor: pointer;
}
