* {
    --primary: dodgerblue;
    --secondary: #ff9966;
    --success: mediumseagreen;
    --error: tomato;
    --white: #fff;
    --black: #000;
}
.primary,
.primary-nohover {
    background-color: var(--primary);
    border-color: var(--primary);
}
.secondary,
.secondary-nohover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.success,
.success-nohover {
    background-color: var(--success);
    border-color: var(--success);
}
.error,
.error-nohover {
    background-color: var(--error);
    border-color: var(--error);
}
.primary,
.secondary,
.success,
.error,
.primary-nohover,
.secondary-nohover,
.success-nohover,
.error-nohover {
    color: var(--white);
}
.primary:hover {
    color: var(--primary);
    border-color: var(--primary);
}
.secondary:hover {
    color: var(--secondary);
    border-color: var(--secondary);
}
.success:hover {
    color: var(--success);
    border-color: var(--success);
}
.error:hover {
    color: var(--error);
    border-color: var(--error);
}
.primary:hover,
.secondary:hover,
.success:hover,
.error:hover {
    background-color: var(--white);
}
.primary-inv,
.primary-inv-nohover {
    color: var(--primary);
    border-color: var(--primary);
}
.secondary-inv,
.secondary-inv-nohover {
    color: var(--secondary);
    border-color: var(--secondary);
}
.success-inv,
.success-inv-nohover {
    color: var(--success);
    border-color: var(--success);
}
.error-inv,
.error-inv-nohover {
    color: var(--error);
    border-color: var(--error);
}
.primary-inv:hover {
    background-color: var(--primary);
}
.secondary-inv:hover {
    background-color: var(--secondary);
}
.success-inv:hover {
    background-color: var(--success);
}
.error-inv:hover {
    background-color: var(--error);
}
.primary-inv:hover,
.secondary-inv:hover,
.success-inv:hover,
.error-inv:hover {
    color: var(--white);
}
.primary,
.primary-inv,
.secondary,
.secondary-inv,
.error,
.error-inv,
.success,
.success-inv,
.primary-nohover,
.primary-inv-nohover,
.secondary-nohover,
.secondary-inv-nohover,
.error-nohover,
.error-inv-nohover,
.success-nohover,
.success-inv-nohover {
    border: 2px solid;
}
