.fs1 {
    font-size: 10px;
}
.fs2 {
    font-size: 12px;
}
.fs3 {
    font-size: 14px;
}
.fs4 {
    font-size: 16px;
}
.fs5 {
    font-size: 17px;
}
.fs6 {
    font-size: 18px;
}
.fs7 {
    font-size: 20px;
}
.fs8 {
    font-size: 22px;
}
.fs9 {
    font-size: 24px;
}
.fs10 {
    font-size: 26px;
}
.fs11 {
    font-size: 28px;
}
.fs12 {
    font-size: 30px;
}
.fs13 {
    font-size: 32px;
}
.fs14 {
    font-size: 34px;
}
.fs15 {
    font-size: 36px;
}
.fs16 {
    font-size: 38px;
}
.fs17 {
    font-size: 40px;
}
.bold {
    font-weight: 600;
}
