.Header,
.Footer {
    width: 100%;
}
.Header {
    position: relative;
    height: 60px;
}
.Header #title {
    position: absolute;
    top: 10px;
    left: 10px;
}
.Header .LeftMenu {
    position: absolute;
    right: 10px;
    top: 20px;
}
.Header #title {
    font-size: 25px;
    font-weight: 600;
    border-radius: 4px;
    padding: 5px 10px;
    width: fit-content;
    transition-duration: 2s;
}
.Footer {
    margin: 10px 0px;
    padding-top: 10px;
    text-align: center !important;
}
.Footer #title {
    font-size: 20px;
    font-weight: 600;
}
.Footer #desc {
    font-size: 10px;
    font-weight: 600;
}
.Footer .NavLink {
    margin: 10px 0px;
}
