.Header,
.Footer {
    width: 100%;
}
.Header {
    position: relative;
    height: 60px;
}
.Header #title {
    position: absolute;
    top: 10px;
    left: 10px;
}
.Header .LeftMenu {
    position: absolute;
    right: 10px;
    top: 20px;
}
.Header #title {
    font-size: 25px;
    font-weight: 600;
    border-radius: 4px;
    padding: 5px 10px;
    width: fit-content;
    transition-duration: 2s;
}
.Footer {
    width: 100%;
    overflow: hidden;
    margin: 10px 0px;
    padding-top: 10px;
    text-align: center !important;
}
.Footer #title {
    font-size: 20px;
    font-weight: 600;
}
.Footer a #icons {
    margin-bottom: 10px;
    padding: 1px 10px;
    height: 20px;
    width: 20px;
}
.Footer #desc {
    font-size: 10px;
    font-weight: 600;
}
.Footer .NavLink {
    margin: 10px 0px;
}
.Header .dropbtn {
    background-color: var(--primary);
    color: white;
    font-size: 18px;
    vertical-align: top;
}
.Header .dropbtn #icon {
    vertical-align: middle;
    padding: 3px;
    height: 25px;
    width: 25px;
}
.Header .dropdown {
    position: relative;
    display: block;
}
.Header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: fit-content;
    right: 0;
    top: 33px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.Header .dropdown-content a {
    color: black;
    padding: 8px 20px;
    width: 100px;
    text-decoration: none;
    display: inline-block;
}
.Header .dropdown-content a:hover {
    background-color: #ddd;
}
.Header .dropdown:hover .dropdown-content {
    display: block;
}
.Header .dropbtn:hover .dropdown {
    background-color: var(--primary);
}
.Header .dropdown-content #icon {
    height: 15px;
    width: 15px;
    padding-right: 10px;
    padding-top: 2px;
}
