.HomeIndex .sec1,
.HomeIndex .sec2,
.HomeIndex .sec3 {
    padding: 10vw 5vw;
    color: var(--white);
}
.HomeIndex .sec1,
.HomeIndex .sec3 {
    background-color: var(--primary);
}
.HomeIndex .sec2 {
    background-color: var(--black);
}
.HomeIndex .sec4 {
    padding: 10vw 5vw;
}
.HomeIndex .title {
    font-size: 10vw;
}
